body { background: #4cb6e5; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 14px; display: flex; }
.block-shipping-0 { color: #1bea1e; font-size: 16px; margin-bottom: 5px; }
.block-product-1 { color: #cda390; font-size: 18px; margin-bottom: 5px; }
.block-cache-2 { color: #9cb226; font-size: 19px; margin-bottom: 5px; }
.block-order-3 { color: #b83323; font-size: 18px; margin-bottom: 5px; }
.block-cache-4 { color: #8f6240; font-size: 16px; margin-bottom: 5px; }
.block-router-5 { color: #d26cf1; font-size: 19px; margin-bottom: 5px; }
.block-shipping-6 { color: #ceb1bb; font-size: 18px; margin-bottom: 5px; }
.block-sms-7 { color: #b8a3bf; font-size: 16px; margin-bottom: 5px; }